<ion-content class="login">
  <div class="logo">
    <img src="../assets/img/Logo.png" alt="Logo Scholarseek">
  </div>

  <div class="utama">
    <h1>SIGN IN</h1>
    <!-- <div class="tabUser">
      <label for="tabUser">User</label>
      <input type="checkbox" name="tabUser" id="tabUser">
    </div> -->

    <!-- <div class="tabAdmin">
      <label for="tabAdmin">Admin</label>
      <input type="checkbox" name="tabAdmin" id="tabAdmin">
    </div> -->

    <div class="inputUser">
      <ion-input type="text" name="username" id="username" placeholder="Username"></ion-input>
      <ion-input type="password" name="password" id="password" placeholder="Password"></ion-input>

      <div class="buttonUser">
        <ion-button expand="block" class="button">LOGIN</ion-button>
      </div>

      <div class="lupaPass">
        <a href="">Lupa password anda?</a>
      </div>
    </div>
  </div>  

  <!--a [routerLink]="['/home']">Go to home</a-->
  <p  style="color: rgb(51, 47, 47)" style="text-align:center" > Belum memiliki akun? </p>
  <ion-button expand="block" class="button"><a href="../register">SIGN UP</a></ion-button>  
</ion-content>
